<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script> 
<div class="container">
    <div class="row">
            <div class="col-sm-6>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="input-group">
                            <input type="hidden" name="search_param" value="name" id="search_param">
                            <input id="searchText"type="text" class="form-control" name="q" placeholder="Search Friends" value="">
                            <span class="input-group-btn">
                                <a  id="x" class="btn btn-default hide" href="#" title="Clear"><i class="glyphicon glyphicon-remove"></i> </a>
                                <button class="btn btn-info" type="submit">  Search  </button>
                            </span>
                        </div>
                    </div>

                    <!-- List group -->
                    <ul id="autolist" class="list-group">
                        <div id="autocompleteTest">


                        </div>
                        <li id="fav" class="list-group-item">
                            <div class="row">
                                <div id="favorites" class="">
                                    <div class="container">
                                        <span class="glyphicon glyphicon-star"> </span><b>Favorites</b>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class='media-left media-middle'>
                                        <a href='#'>
                                            <img class='media-object img-circle' src='http://placehold.it/40x40'>
                                        </a>
                                    </div>
                                    <div id='center'>
                                        Favorite Person #1
                                        <div id='center' class='material-switch pull-right'>
                                            <input id='someSwitchOptionPrimary' name='someSwitchOption001i' type='checkbox' checked="true"/>
                                            <label for='someSwitchOptionPrimary' class='label-primary'></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object img-circle" src="http://placehold.it/40x40">
                                        </a>
                                    </div>
                                    <div id="center">
                                        Favorite Person #2
                                        <div id="center" class="material-switch pull-right">
                                            <div class="material-switch pull-right">
                                                <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" checked="true"/>
                                                <label for="someSwitchOptionSuccess" class="label-primary"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object img-circle" src="http://placehold.it/40x40">
                                        </a>
                                    </div>
                                    <div id="center">
                                        Favorite Person #3
                                        <div id="center" class="material-switch pull-right">
                                            <div class="material-switch pull-right">
                                                <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox" checked="true"/>
                                                <label for="someSwitchOptionInfo" class="label-primary"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object img-circle" src="http://placehold.it/40x40">
                                        </a>
                                    </div>
                                    <div id="center">
                                        Favorite Person #4
                                        <div id="center" class="material-switch pull-right">
                                            <div class="material-switch pull-right">
                                                <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox" checked="true"/>
                                                <label for="someSwitchOptionWarning" class="label-primary"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object img-circle" src="http://placehold.it/40x40">
                                        </a>
                                    </div>
                                    <div id="center">
                                        Favorite Person #5
                                        <div id="center" class="material-switch pull-right">
                                            <div class="material-switch pull-right">
                                                <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox" checked="true"/>
                                                <label for="someSwitchOptionDanger" class="label-primary"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="">
                <ul id="autocompleteTest">

                </ul>
            </div>
        </div>
    </div>
</div>
